<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.scarach.spin_earn_money">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bingo"
        android:usesCleartextTraffic="true">
        <activity android:name=".ExtraActivity"></activity>
       <!-- <activity android:name=".ViewDialog" />-->
        <activity android:name=".withdrwal.WithdrawalActivity" />
        <activity android:name=".FloatingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TaskActivity" />
        <activity android:name=".SpinActivity" />
        <activity android:name=".scratch.ScratchActivity" />
        <activity android:name=".DailyBonusActivity" /> <!-- <activity android:name=".ProfileActivity" /> -->
        <activity android:name=".home.HomeActivity" />

        <meta-data
            android:name="com.startapp.sdk.APPLICATION_ID"
            android:value="205439941" />
        <meta-data
            android:name="com.startapp.sdk.RETURN_ADS_ENABLED"
            android:value="false" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="RKE97oL36SQITvUa-plu4ayCepQ0H_-s8R6TQfQ5GWSlamTaGGbb7POANDFMdn_tmeFi-0_uTbG7LQJoXAPqOn" />
    </application>

</manifest>